<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
        viewBox="0 0 24 24" focusable="false">
        <circle cx="12" cy="12" r="10" />
        <path
          d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
      </svg>
    </a>

    <div *ngIf="usuario$ | async as usuario; else login">
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goHome()"> Home </a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goQuienSoy()" *ngIf="usuario"> Quien Soy </a>
     <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goChat()" *ngIf="usuario">Chat</a> 
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goMayorMenor()" *ngIf="usuario">Mayor o Menor</a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goAhorcado()" *ngIf="usuario">Ahorcado</a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goPreguntados()" *ngIf="usuario">Preguntados</a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goFlechas()" *ngIf="usuario">Flechas</a>
      <!-- <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goEncuesta()" *ngIf="usuario">Encuesta</a> -->
      <a class="py-2 d-none d-md-inline-block btn" *ngIf="usuario">{{usuario?.email}}</a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="onLogout()" *ngIf="usuario">Logout</a>
    </div>
    <ng-template #login>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goRegistro()">Registro</a>
      <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goLogin()">Login</a>
    </ng-template>
  </div>
</nav>