<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-orange">Luquez Eliseo</h1>
        <h4 class="text-orange text-center">
          Programador, amo y señor de 1 gato(Gaspar) y 1 perro(Matthew).
        </h4>
        <h5 class="text-orange text-center">
            Intentando hacer la sala de juegos de LabIV.
        </h5>
      </div>
    </div>
    <div class="text-center">
      <img src="../../../assets/quiensoy.PNG">
    </div>
    <div class="float-right">
      <a href="https://github.com/EliseoLuquez">
        <input class="btn btn-success" type="button" value="Visita mi Github" />
     </a>
    </div>
</div>